@import './fonts.css';
@import './styles//global.css';

html {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-grey900);
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

@media screen and (max-width: 375px) {
  body {
    padding: 15px;
  }
}
